<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Camera Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>
    <div class="container">
        <h1>Live Camera Feed</h1>
        <img id="stream" src="/video_feed" alt="Video Stream" onerror="this.src='/static/no_streaming.png';" />
        
        <!-- Control Buttons -->
        <div class="controls">
            <button id="start-btn">Start Stream</button>
            <button id="stop-btn">Stop Stream</button>
        </div>

        <div>
            <h2>Light Sensor Data</h2>
            <div id="light-level">Loading...</div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
