{% extends "base.html" %}
{% block title %}Streaming{% endblock%}

{% block content %}
<div class="d-flex justify-content-center py-3">
    <div class="d-flex flex-row gap-4">
        <!-- Video Stream Section -->
        <div>
            <img id="stream" src="/video_feed" class="rounded" alt="Video Stream"
                onerror="this.src='/static/no_streaming.png';" />
        </div>
        
        <!-- Light Sensor Status Section -->
        <div id="sensor-status" class="p-3 border rounded bg-light">
            <h5>Sensor Status</h5>
            <p>Light: <span id="lightsensor-status">Loading...</span></p>
            <p>Temperature: <span id="tempsensor-status">Loading...</span></p>
            <p>Humidity: <span id="humdsensor-status">Loading...</span></p>
            <!-- Add more sensors as needed -->
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}